ion-title{
    font-size: 2em;
    font-weight: bolder;
}

.toolbar{
    background: linear-gradient(to right, rgb(98, 184, 112), rgb(41, 184, 242));
    height: 200px;
    text-align: center;
    color: white;
}

.cardStyle{
    height: 175px;
}

.centerText{
    text-align: center;
}

ion-img{
    width: 113px;
    height: 85px;
}

.borderStyle{
    border: 1px solid darkseagreen;
  }