ion-content {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  ion-title{
    font-size: 2em;
    font-weight: bolder;
}

.toolbar{
    background: linear-gradient(to right, rgb(98, 184, 112), rgb(41, 184, 242));
    height: 200px;
    text-align: center;
    color: white;
}

.content{
  display: grid;
  align-items: center;
  justify-content: center;
}

.borderStyle{
  border: 1px solid darkseagreen;
}